ul li{
    list-style: none;
}
.col-md-2{
    border: 10px solid #E2E9EA;
    height: 480px;
    overflow: scroll;
}
ul{
    padding-left: 0px;
}
iframe{
    border: 0px;
    width: 100%;
}
ul li a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}