article {
    width: 70%;
    float: left;
    border: 1px solid #ededed;
}

aside {
    width: 27%;
    float: right;
    border: 1px solid #ededed;
}

.crumbs {
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    border: 1px solid #ededed;
}

.crumbs a {
    color: #7E8ECE;
    font-size: 13px;
    text-decoration: underline;
}

.crumbs span {
    color: #777;
    font-size: 13px;
}

.crumbs span, .crumbs a {
    margin-left: 3px;
}

.crumbs + h1 {
    width: 89%;
    margin: 0 auto;
    font-size: 1.8em;
    margin-top: 10px;

}

.message {
    width:89%;
    margin: 0 auto;
    margin-top: 10px;
}

.message span, .message a, .message time {
    color: #777777;
    font-size: 13px;
}

.content {
    width: 97%;
    margin: 0 auto;
    margin-top: 20px;
    text-indent: 31px;
}

.content p {
    color: #222222;
    line-height: 38px;
}

.content img {
    border: 1px solid #ededed !important;
    display: block;
    margin: 0 auto;
}

.comment img, .comment form {
    float: left;
}

.comment img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
}

.comment_box {
    width: 97%;
    margin: 0 auto;
    margin-top: 40px;
}

.comment_box .heading {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}

.comment_box .heading span {
    color: #F8595E;
    font-size: 24px;
    margin-right: 5px;
}

.comment form {
    width: 87%;
}

.comment textarea {
    border: 1px solid #BFB9B9;
    width: 100%;
    height: 150px;
    resize: none;
    text-indent: 10px;
}

.form-group_t {
    background-color: #F4F5F6;
    height: 34px;
    line-height: 34px;
}

.form-group_t span {
    margin-left: 20px;
    color: red;
}

.form-group_t input {
    float: right;
    background-color: #3F404C;
    color: white;
    border: 0;
    height: 100%;
    width: 107px;
    cursor: pointer;
}

.comment_info .item {
    border-bottom: 1px solid #F2F2F2;
    padding-top: 10px;
}

.comment_info .item img, .comment_info .item_con {
    float: left;
}

.comment_info .item img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
    display: block;
}

.comment_info .item .item_con {
    width: 87%;
    font-size: 13px;
}


.comment_info .item .item_con a {
    color: #406599;
    font-size: 13px;
}

.comment_info .item .item_con p {
    margin-bottom: 10px;
}

.comment_info .item .item_con p .replay {
    margin-right: 10px;
}

.comment_info .item .item_con p time {
    margin-left: 10px;
}

.comment_info .item .item_con .user {
    margin-right: 5px;
}
.order {
    margin-top: 25px;
    margin-bottom: 20px;
}
.replay_info {
    display: none;
}

.replay_info .item {
    border: 0 !important;
}

.replay_form {
    display: none;
}

.more {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #F4F5F6;
    color: #406599;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.replay_info>.more{
    width: 50%;
    margin-left: 177px;
}
.replay_form textarea {
    border: 1px solid #BFB9B9;
    width: 100%;
    height: 80px;
    resize: none;
    text-indent: 10px;
}
.comm_fab{
    float: right;
}
.comm_fab i{
    background: url("../../Images/icons1.gif") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -2px -2px;
    vertical-align: middle;
}
.fab_tip{
    position: fixed;
    height: 40px;
    width: 80px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -20px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    display: none;
}
.sharandcoll {
    width: 97%;
    margin: 0 auto;
    margin-top: 28px;
}

.keywords {
    float: right;

}

.about {
    border-top: 2px solid #6ED56C;
    padding: 0 5px;
}

.about_heading > span {
    color: #222222;
    font-weight: bold;
}

.change {
    float: right;
    font-size: 13px;
    color: #666;
}

.change i {
    background: url("../../Images/icons.png") no-repeat;
    background-position: -470px -86px;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    -webkit-transition: transform 0.2s linear 0s;
    -moz-transition: transform 0.2s linear 0s;
    -ms-transition: transform 0.2s linear 0s;
    -o-transition: transform 0.2s linear 0s;
}

.change:hover > i {
    transform: rotate(360deg);
}

.about_heading {
    margin-top: 11px;
}

.about_item {
    border-bottom: 1px solid #ededed;
    margin-top: 10px;
}

.about_item img, .about_item figcaption {
    float: left;
}

.about_item img {
    width: 30%;
    height: 60px;
    padding-bottom: 5px;
}

.about_item figcaption {
    width: 55%;
    margin-left: 10px;
}

.about_item figcaption p {
    width: 100%;
}

.about_item figcaption p a {
    color: #222222;
    display: inline-block;
    width: 100%;
    height: 48px;
    font-size: 15px;
    font-weight: bold;
}

.about_item figcaption p a:hover {
    color: #CC0000;
}

.about_item figcaption .category, .hot_item figcaption .source, .hot_item figcaption time {
    color: #777777;
}

.about_item img {
    border: 1px solid #ededed !important;
    width: 90px !important;
    height: 67px !important;
}

.about_item span, .about_item time, .about_item i {
    color: #777777;
    float: left;
    font-size: 13px;
}

.about_item .source + i {
    background: url("../../Images/icons-4.png") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -175px -103px;
    vertical-align: middle;
}

.about_item .category + i {
    background: url("../../Images/icons.png") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -278px -216px;
    vertical-align: middle;
}

.about_item span a {
    color: #777777;
}

/*分享栏样式start*/
.share {
    float: left;
}

/*分享栏样式end*/
/*点赞收藏样式start*/
.fabcoll {
    float: right;
}

.fab_tb {
    display: inline-block;
    width: 20px;
    height: 15px;
    background: url("../../Images/public-24.png") no-repeat;

    vertical-align: middle;
}

.fab_tb + span, .coll_tb + span {
    font-size: 13px;
    color: #777777;
}

.coll_tb {
    display: inline-block;
    width: 20px;
    height: 15px;
    background: url("../../Images/public-24.png") no-repeat;

    vertical-align: middle;
}

.tip {
    position: fixed;
    height: 40px;
    width: 80px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -20px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    display: none;
}

/*点赞收藏样式end*/